<div class="col-lg-3 col-sm-6 ">
  <div class="card h-100">
    <div class="card-header p-0 position-relative">
    </div>
    <div class="card-body px-0">
      <h5>
        <%= link_to post.title, post_path(post) %>
      </h5>
      <p><%=post.body%></p>
      <%= link_to "Read more", post_path(post) %>
    </div>
  </div>
</div>