<div class="col-lg-12 mx-auto">
  <header>
    <div class="page-header min-height-300">
      <span class="mask bg-gradient-dark opacity-8" style="background-image: url('https://i.pinimg.com/originals/6f/3c/be/6f3cbebdc0ec1f5652a9803d8e80e62f.jpg')"></span>
    </div>
  </header>
  <!-- -------- END HEADER 4 w/ search book a ticket form ------- -->
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
    <!-- START Testimonials w/ user image & text & info -->
    <%= render partial: 'info_section', locals: { author: @author }%>
    <!-- END Testimonials w/ user image & text & info -->
    <!-- START Blogs w/ 4 cards w/ image & text & link -->
    <section class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h3 class="mb-5">Check my latest blogposts</h3>
          </div>
        </div>
        <div class="row">
          <%= render partial: 'article_box', collection: @latest_posts, as: :post%>
        </div>
      </div>
    </section>
    <!-- END Blogs w/ 4 cards w/ image & text & link -->
  </div>
</div>
<%= render 'author_modal' %>